tower {
  accessToken = 'c6f9fe249f9a24a49cf3d19f7bedcb1983786788'
  enabled = true
}

singularity {
	container = 'docker://LaurensHannes/REVIVID'
  autoMounts = true
  enabled = true	
 runOptions = '-B  /staging/leuven/stg_00086/Laurens/REVIVID -B  /staging/leuven/stg_00086'
}

profiles {

    cluster {
        process.executor = 'PBE'
        process.queue = 'long'
        process.memory = '4 GB'
		process.cpus = 18
    }


}