tower {
  accessToken = 'c6f9fe249f9a24a49cf3d19f7bedcb1983786788'
  enabled = true
}

singularity {
	container = 'docker://laurenshannes/revivid'

     runOptions = "-B $launchDir -B  /vsc-hard-mounts/leuven-archive/arc_00086"
  autoMounts = true

  enabled = true	


}



profiles {
	docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
  }

    cluster {
        process.executor = 'PBS'
		executor.submitRateLimit = '10 sec'
        process.memory = '4 GB'
		process.cpus = 18
		process.clusterOptions = '-A lp_revivid'
		process.cache = 'lenient'


    }
	    slurm {

    process {
      executor = 'slurm'
      submitRateLimit = '25/1min'
      memory = '4 GB'
      cpus = 4
      clusterOptions = '--cluster=wice -A lp_revivid'
      queueSize = 100
      exitReadTimeout = '60000 sec'

  withName: 'createbams:CollectWgsMetrics' {
    cpus = 2
    memory = 12.GB
  }
  withName: 'createbams:alignment' {
    cpus = 4
    memory = 32.GB
    time = 30.minute
  }
  withName: 'createbams:createfamilyvcfs:combineGVCFs' {
    cpus = 2
    memory = 40.GB
  }
  withName: 'createbams:createfamilyvcfs:genotypeGVCFs' {
    cpus = 2
    memory = 11.GB
  }
  withName: 'createbams:createfamilyvcfs:normalizeindelsgatk' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'createbams:createfamilyvcfs:variantrecalibration' {
    cpus = 3
    memory = 7.GB
  }
  withName: 'createbams:createfamilyvcfs:vcftoolshardfilter' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'createbams:createindividualbams:splitbamindividuals' {
    cpus = 2
    memory = 1.GB
  }
  withName: 'createbams:createindividualvcfs:applyBQSR' {
    cpus = 2
    memory = 3.GB
  }
  withName: 'createbams:createindividualvcfs:baserecalibrator' {
    cpus = 2
    memory = 4.GB
  }
  withName: 'createbams:createindividualvcfs:combineindividualGVCFs' {
    cpus = 1
    memory = 64.GB
  }
  withName: 'createbams:createindividualvcfs:genotype' {
    cpus = 2
    memory = 9.GB
  }
  withName: 'createbams:fastQC' {
    cpus = 1
    memory = 1.GB
  }
  withName: 'createbams:generateCRAM' {
    cpus = 4
    memory = 1.GB
  }
  withName: 'createbams:mergebams' {
    cpus = 2
    memory = 1.GB
  }
}


    }

	
    test {

    withName: 'alignment|mergebams|deeptrio|parliament2' {
        cpus = 1
        memory = 8.GB
		time = 30.minute
		executor = 'PBS'
		clusterOptions = '-A lp_revivid'
		cache = 'lenient'
    }
					process {
		    withName: '!alignment|!mergebams|!deeptrio|!parliament2|!check.*|!splitbamindividuals' {
        cpus = 1
        memory = 4.GB
		time = 30.minute
		executor = 'PBS'
		clusterOptions = '-A lp_revivid'
		cache = 'lenient'
		
    }
    withName: 'check.*|splitbamindividuals' {
        cpus = 1
        memory = 8.GB
		time = 30.minute
		executor = 'local'
		cache = 'lenient'
    }	

}
    }
}


cleanup = true