tower {
  accessToken = 'c6f9fe249f9a24a49cf3d19f7bedcb1983786788'
  enabled = true
}

singularity {
	container = 'docker://laurenshannes/revivid'


     runOptions = "-B $launchDir"
  autoMounts = true

  enabled = true	


}


profiles {

    cluster {
        process.executor = 'PBS'
        process.memory = '4 GB'
		process.cpus = 18
		process.clusterOptions = '-A lp_revivid'
    }


}