tower {
  accessToken = 'c6f9fe249f9a24a49cf3d19f7bedcb1983786788'
  enabled = true
}

singularity {
	container = 'docker://laurenshannes/revivid'

     runOptions = "-B $launchDir -B  /vsc-hard-mounts/leuven-archive/arc_00086"
  autoMounts = true

  enabled = true	


}


profiles {
	docker {
    enabled = true
    runOptions = '-u \$(id -u):\$(id -g)'
  }

    cluster {
        process.executor = 'PBS'
		process.submitRateLimit = '10 sec'
        process.memory = '4 GB'
		process.cpus = 18
		process.clusterOptions = '-A lp_revivid'
		process.cache = 'lenient'
		process {
}
    }
	
	
    test {
        process.executor = 'PBS'
		process.submitRateLimit = '10 sec'
        process.memory = '4 GB'
		process.cpus = 18
		process.clusterOptions = '-A lp_revivid'
		process.cache = 'lenient'
		process {
    withName: 'alignment|mergebams|deeptrio|parliament2' {
        cpus = 1
        memory = 8.GB
		time = 30.minute
    }
}
    }

}

cleanup = true